cron/logs/*.log
cron/custom-*
curator/*.yaml
elastalert/config.yaml
elastalert/rules/*
elasticsearch/snapshots/*
elasticsearch/es_data/*
logstash/persistent_data/*
logstash/pipelines.yml
logstash/pipelines*.yml
logstash/logstash_configs/custom*
logstash/logstash_configs/**/*custom*
docker-compose.yml